<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.totyu.totyudemo.mapper.TeacherMapper">
  <!-- 通用查询映射结果 -->
  <resultMap id="BaseResultMap" type="com.totyu.totyudemo.entity.Teacher">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="gender" jdbcType="INTEGER" property="gender" />
    <result column="attendance" jdbcType="INTEGER" property="attendance" />
  </resultMap>

  <!-- 通过ID删除数据-->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from teacher
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <!-- 通过接收服务端数据插入老师信息-->
  <insert id="insert" parameterType="com.totyu.totyudemo.entity.Teacher">
    insert into teacher (id, name, age, 
      gender, attendance)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, 
      #{gender,jdbcType=INTEGER}, #{attendance,jdbcType=INTEGER})
  </insert>

  <!-- 通过传入新的老师信息更新老师 -->
  <update id="updateByPrimaryKey" parameterType="com.totyu.totyudemo.entity.Teacher">
    update teacher
    set name = #{name,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      gender = #{gender,jdbcType=INTEGER},
      attendance = #{attendance,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!-- 通过传入ID查询老师-->
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, name, age, gender, attendance
    from teacher
    where id = #{id,jdbcType=INTEGER}
  </select>

  <!-- 查询所有老师-->
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, age, gender, attendance
    from teacher
  </select>

  <!-- 查询筛选过后的老师集合 -->
  <select id="selectFilterAll" resultMap="BaseResultMap">
    select id, name, age, gender, attendance
    from teacher
    where name like #{name,jdbcType=VARCHAR}
  </select>
</mapper>